$input-height: 40px;
$search-icon-dim: 30px;
$clear-icon-dim: 30px;
$vote-average-size: 30px;
$filter-height: 36px;
$circle-dim: 100px;
$gallery-column: 480px;
$actor-thumb-size: 70px;

@import "bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/react-select/default";
@import "vendor/lightcase/lightcase";

body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.25em 0;
}
//i have no idea why this is not default
img {
    max-width: 100%;
    height: auto;
}

.page {
    position: relative;
    padding-bottom: $large-spacing;
    
    &.loading {
        .loader {
            visibility: visible;
            opacity: 1;
        }
    }
    .loader {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        transition: opacity 0.4s;
        background: rgba(55, 55, 55, 0.9) url('../images/triangle.gif') no-repeat center;
    }
}
.segment {
    @include clearfix;
}
.navbar-default {
    .navbar-brand {
        font-weight: 800;
        font-size: $font-size-h1;
    }
}
.heading {
    margin-bottom: $large-spacing;

    &>h2 {
        margin-bottom: $micro-spacing;
    }
    
    .search {
        position: relative;

        .icon {
            position: absolute;
            left: $micro-spacing;
            top: 50%;
            height: $search-icon-dim;
            width: $search-icon-dim;
            margin-top: - ($search-icon-dim / 2);
            line-height: $search-icon-dim;
            text-align: center;
    
            // kind of a hack
            &:hover + .dark-input {
                border-color: $gray-lighter;
            }
        }

        .clear {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top:- ($clear-icon-dim / 2);
            height: $clear-icon-dim;
            width: $clear-icon-dim;
            line-height: $clear-icon-dim;
            text-align: center;
            color: $gray-lighter;
            display: none;
            text-decoration: none;
        }

        &.focused {
            .icon {
                color: $yellow;
            }
            .clear {
                display: inherit;
            }
            .dark-input {
                border-color: $yellow;
                color: $yellow;
                background-color: darken($bg, 10%);
            }
        }
    }

    @media(min-width: $screen-sm-min) {
        @include clearfix;

        &>h2 {
            float: left;
        }

        .search {
            float: right;
        }
    }
}
.dark-input {
    border: 1px solid darken($bg, 10%);
    padding: $micro-spacing $small-spacing;
    display: block;
    max-width: 100%;
    width: 100%;
    height: $input-height;
    background-color: transparent;
    box-shadow: none;
    min-width: 250px;

    &:hover {
        border-color: $gray-lighter;
    }

    &:focus {
        border-color: #fff;
        background-color: darken($bg, 10%);
    }

    &.icon-input {
        padding-left: ($search-icon-dim + $micro-spacing);
        padding-right: ($clear-icon-dim + $micro-spacing);
    }
}
.movies {
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: - $base-spacing;
    margin-right: - $base-spacing;
}
.movie {
    width: 50%;
    padding: 0 $base-spacing;
    margin-bottom: $large-spacing;

    .poster {
        position: relative;
        .rating {
            position: absolute;
            border-radius: 50%;
            background-color: $yellow;
            height: $vote-average-size;
            width: $vote-average-size;
            text-align: center;
            color: $gray-darker;
            line-height: $vote-average-size;
            font-size: 10px;
            font-weight: 600;
            right: - ($vote-average-size / 2);
            bottom: $small-spacing;
        }
    }

    .details {
        padding: $small-spacing 0;
        
        .title {
            display: block;
            color: #fff;

            &:hover {
                color: $yellow;
            }
        }

        .genre {
            font-size: 12px;
            color: $gray-light;
        }
    }
    
    @media(min-width: $screen-sm-min) {
        width: 33%;
    }

    @media(min-width: $screen-md-min) {
        width: 25%;
    }
}
.filters {
    @include clearfix;
    margin-bottom: $large-spacing;
}
.filter {
    @include clearfix;
    float: left;

    label {
        float: left;
        height: $filter-height;
        line-height: $filter-height;
        color: $gray-lighter;
        margin-right: $small-spacing;
    }

    .select-container {
        float: left;
        min-width: 150px;
    }

    &:first-child {
        margin-right: $large-spacing;
    }
}
.empty-results {
    padding: $medium-spacing;
    color: darken($bg, 10%);
    text-align: center;
    text-transform: uppercase;
}
.back-link {
    display: inline-block;
    margin-bottom: $small-spacing;
    color: $yellow;

    &:hover {
        color: $yellow;
        text-decoration: none;
    }
}
.movie-header {
    margin-bottom: $large-spacing;
}
.movie-title {
    margin-bottom: $base-spacing;

    &>span {
        font-weight: 300;
        margin-left: $base-spacing;
    }
}
.movie-overview {
    color: $gray-lighter;
    margin: 0;
}
.circle {
    position: relative;
    height: $circle-dim;
    width: $circle-dim;

    canvas {
        max-width: 100%;
        max-height: 100%;
    }
}
.movie-info {
    @include clearfix;
    margin-bottom: $large-spacing;

    .movie-vote-average {
        width: $circle-dim;
        float: left;
    }
    .movie-details {
        margin-left: $circle-dim;
        padding: 0 $base-spacing;
    }

    .circle {
        position: relative;
        height: $circle-dim;
        width: $circle-dim;

        canvas {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.movie-details {
    padding-left: $base-spacing;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            margin-bottom: $small-spacing;
        }
    }

    .detail-label {
        display: inline-block;
        width: 90px;
        font-size: 13px;
        color: $gray-light;
        margin-right: $base-spacing;
    }

    .detail {
        display: inline-block;
        color: #fff;
        font-size: 13px;    
    }
}
.frame {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    
    .gallery {
        width: 100%;
        -webkit-order: 2;
        order: 2;
    }
    .movie-details-container {
        width: 100%;
        -webkit-order: 1;
        order: 1;
    }

    @media(min-width: $screen-sm-min) {
        .gallery {
            width: 30%;
            -webkit-order: 1;
            order: 1;
        }
        .movie-details-container {
            width: 67%;
            -webkit-order: 2;
            order: 2;
        }
    }

    @media(min-width: $screen-md-min) {
        .gallery {
            width: 36%;
            -webkit-order: 1;
            order: 1;
        }
        .movie-details-container {
            width: 61%;
            -webkit-order: 2;
            order: 2;
        }
    }
}
.gallery-featured {
    margin-bottom: $micro-spacing;
}
.fixed-gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
    border: 2px solid darken($bg, 10%);

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: #ff0000;
    }

    .fg {
        display: block;
        border: 4px solid darken($bg, 10%);
        background-attachment: local;
        background-repeat: no-repeat;
        background-position: center;
        padding: $micro-spacing;
        opacity: 0.5;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }
    }

    @media(min-width: $screen-sm-min) {
        max-height: 450px;
    }
}
.cast-members {
    margin-bottom: $large-spacing;
}
.cast-member {
    display: table;
    width: 100%;
    margin-bottom: $base-spacing;

    .cell {
        display: table-cell;
        vertical-align: middle;
    }

    .thumb {
        width: $actor-thumb-size;
        height: $actor-thumb-size;
        border-radius: 50%;
        border: 4px solid darken($bg, 10%);
        background-position: center;
        background-size: contain;
    }    

    .actor-name {
        color: $gray-lighter;
        padding: 0 $base-spacing;
        width: 150px;
    }

    .as {
        display: none;
        width: 100px;
        text-align: center;
        color: $gray-lighter;
        padding: 0 $medium-spacing;
    }

    .actor-character {
        color: #fff;
        font-weight: 600;
        padding: 0 $base-spacing;
    }

    @media(min-width: $screen-sm-min) {
        .actor-name {
            width: 200px;
        }
        .as {
            display: table-cell;
        }
    }
    
}
.problem {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;

    .content {
        display: table-cell;
        vertical-align: middle;
        
        .error-block {
            max-width: 600px;
            margin: 0 auto;

            h2, p, a {
                color: #fff;
            }
            h2 {
                margin-bottom: $micro-spacing;
            }
            a {
                text-decoration: underline;
            }
        }
    }
}