$input-height: 40px;
$search-icon-dim: 30px;
$clear-icon-dim: 30px;
$vote-average-size: 30px;
$filter-height: 36px;

@import "bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/react-select/default";

body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.25em 0;
}
//i have no idea why this is not default
img {
    max-width: 100%;
    height: auto;
}

.page {
    position: relative;
    
    &.loading {
        .loader {
            visibility: visible;
            opacity: 1;
        }
    }
    .loader {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        transition: opacity 0.4s;
        background: rgba(55, 55, 55, 0.9) url('../images/triangle.gif') no-repeat center;
    }
}
.segment {
    @include clearfix;
}
.navbar-default {
    .navbar-brand {
        font-weight: 800;
        font-size: $font-size-h1;
    }
}
.heading {
    margin-bottom: $large-spacing;

    &>h2 {
        margin-bottom: $micro-spacing;
    }
    
    .search {
        position: relative;

        .icon {
            position: absolute;
            left: $micro-spacing;
            top: 50%;
            height: $search-icon-dim;
            width: $search-icon-dim;
            margin-top: - ($search-icon-dim / 2);
            line-height: $search-icon-dim;
            text-align: center;
    
            // kind of a hack
            &:hover + .dark-input {
                border-color: $gray-lighter;
            }
        }

        .clear {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top:- ($clear-icon-dim / 2);
            height: $clear-icon-dim;
            width: $clear-icon-dim;
            line-height: $clear-icon-dim;
            text-align: center;
            color: $gray-lighter;
            display: none;
            text-decoration: none;
        }

        &.focused {
            .icon {
                color: $yellow;
            }
            .clear {
                display: inherit;
            }
            .dark-input {
                border-color: $yellow;
                color: $yellow;
                background-color: darken($bg, 10%);
            }
        }
    }

    @media(min-width: $screen-sm-min) {
        @include clearfix;

        &>h2 {
            float: left;
        }

        .search {
            float: right;
        }
    }
}
.dark-input {
    border: 1px solid darken($bg, 10%);
    padding: $micro-spacing $small-spacing;
    display: block;
    max-width: 100%;
    width: 100%;
    height: $input-height;
    background-color: transparent;
    box-shadow: none;
    min-width: 250px;

    &:hover {
        border-color: $gray-lighter;
    }

    &:focus {
        border-color: #fff;
        background-color: darken($bg, 10%);
    }

    &.icon-input {
        padding-left: ($search-icon-dim + $micro-spacing);
        padding-right: ($clear-icon-dim + $micro-spacing);
    }
}
.movies {
    display: flex;
    justify-content: flex-start;
    -webkit-flex-flow: row wrap;
    margin-left: - $base-spacing;
    margin-right: - $base-spacing;
    flex-direction: row;
}
.movie {
    width: 50%;
    padding: 0 $base-spacing;
    margin-bottom: $large-spacing;

    .poster {
        position: relative;
        .rating {
            position: absolute;
            border-radius: 50%;
            background-color: $yellow;
            height: $vote-average-size;
            width: $vote-average-size;
            text-align: center;
            color: $gray-darker;
            line-height: $vote-average-size;
            font-size: 10px;
            font-weight: 600;
            right: - ($vote-average-size / 2);
            bottom: $small-spacing;
        }
    }

    .details {
        padding: $small-spacing 0;
        
        .title {
            display: block;
            color: #fff;

            &:hover {
                color: $yellow;
            }
        }

        .genre {
            font-size: 12px;
            color: $gray-light;
        }
    }
    
    @media(min-width: $screen-sm-min) {
        width: 33%;
    }

    @media(min-width: $screen-md-min) {
        width: 25%;
    }
}
.filters {
    @include clearfix;
    margin-bottom: $large-spacing;
}
.filter {
    @include clearfix;
    float: left;

    label {
        float: left;
        height: $filter-height;
        line-height: $filter-height;
        color: $gray-lighter;
        margin-right: $small-spacing;
    }

    .select-container {
        float: left;
        min-width: 150px;
    }

    &:first-child {
        margin-right: $large-spacing;
    }
}
.empty-results {
    padding: $medium-spacing;
    color: darken($bg, 10%);
    text-align: center;
    text-transform: uppercase;
}